<div class="container">
    <div class="jumbotron" style="background-image: linear-gradient(to bottom right, lightskyblue, lightgreen);">
        <div class="row align-items-center mb-3">
            <div class="col-7">
                <h2>
                    EIT Newspaper
                </h2>
            </div>
            <div class="col-5">
                <img class="img-fluid"
                     src="https://eit.europa.eu/sites/default/files/content-manager/images/eiteu_logo.png"/>
            </div>
        </div>
        <app-login></app-login>
    </div>

    <div class="container-fluid">
        <div *ngIf="downloadComplete" class="mb-4">
            <nav class="navbar navbar-expand-lg navbar-light mb-3 border"
                style="background-color: rgb(229, 249, 233);">
                <h3 class="navbar-brand">Functions</h3>
                <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                    &#9776;
                </button>
                <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li>
                            <div class="mr-auto p-2">
                                <div class="btn-group btn-group-toggle flex-wrap" ngbRadioGroup name="radioBasic" [(ngModel)]="categoryFilter">
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="All"> All
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="National"> National
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="Economy"> Economy
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="Sports"> Sports
                                    </label>
                                    <label ngbButtonLabel class="btn-primary">
                                        <input ngbButton type="radio" value="Technology"> Technology
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="p-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-dark" style="background-color: rgb(195, 230, 245);">Search for:</span>
                                    </div>
                                    <input type="text" [(ngModel)]="term" name="term"/>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="logged">
                            <div class="p-2">
                                <button class="btn btn-primary" (click)="newArticle()">Create an article</button>
                            </div>
                        </li>
                    </ul>
                </div>
              </nav>
        </div>
    </div>
<hr>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-12 my-3" 
            *ngFor='let article of articlesList | categoryPipe:categoryFilter | filter:term'>
            <div class="card" 
                style="background-color: rgb(229, 249, 233);"
                *ngIf="!fakeDelete[article.id]; else onDelete" 
                data-aos="fade-up" 
                data-aos-once="true">
                <img class="card-img-top" 
                (click)="viewArticle(article.id)" 
                [src]="'data:' + article.thumbnail_media_type + ';base64,' + article.thumbnail_image "/>
                <div class="card-body">
                    <p class="card-text"><b>{{ article.category }}</b></p>
                    <h4 class="card-title"><a (click)="viewArticle(article.id)">{{ article.title }}</a></h4>
                    <p class="card-text">{{ article.subtitle }}</p>
                    <hr>
                    <p class="card-text" [innerHTML]="article.abstract"></p>
                    <hr>
                    <p class="card-text">Last updated by {{ article.id_user }} on {{ article.update_date }}</p>
                    <div *ngIf="logged">
                        <button (click)="editArticle(article.id)" class="btn btn-primary mr-2">Edit article</button>
                        <button *ngIf="!askConfirmation[article.id]" (click)="askConfirmation[article.id] = !askConfirmation[article.id]" class="btn btn-danger">Remove article</button>
                        <button *ngIf="askConfirmation[article.id]" (click)="askConfirmation[article.id] = !askConfirmation[article.id]" class="btn btn-primary">Nevermind</button>
                        <div class="input-group mt-2" *ngIf="askConfirmation[article.id]">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Are you sure?</span>
                            </div>
                            <button (click)="removeArticle(article.id)" class="btn btn-danger">Yes, I'm sure. Delete this article</button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #onDelete>
                <h5>Article deleted successfully!</h5>
            </ng-template>
        </div>
    </div>
</div>
