<div class="container">
    <div class="jumbotron">
        <button class="btn btn-primary mb-3" (click)="goBack()">
            Go back
        </button>

        <h5>
            {{ toView.category }}
        </h5>
        <h1>
            {{ toView.title }}
        </h1>
        <h4>
            {{ toView.subtitle }}
        </h4>
    </div>

    // pic

    <div>
        <h4 [innerHTML]="toView.abstract"></h4>
        <hr>
        <p [innerHTML]="toView.body"></p>
        <hr>
        <p>
            Last updated by {{ toView.id_user }} on {{ toView.update_date }}
        </p>

    </div>
</div>