<div class="container">
    <div class="jumbotron" style="background-image: linear-gradient(to bottom right, lightskyblue, lightgreen);">
      <button class="btn btn-primary mb-3" (click)="goBack()">
        Go back
      </button>

        <h1>Article editor</h1>
    </div>

    <div>
        <form #articleForm="ngForm" (ngSubmit)="submitArticle()">
            <p>The fields with an asterisk (*) are required.</p>
            <div class="form-group mb-4">
                <label>Title *</label>
                  <input class="form-control"
                         type="text"
                         required
                         [(ngModel)]="tmpArticle.title"
                         name="title"
                         #title="ngModel"
                         [ngClass]="title.valid || title.pristine ? '': 'bg-danger text-white'">
                <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                    <div *ngIf="title.errors.required">Sorry, a title is required.</div>
                </div>
            </div>
            <div class="form-group mb-4">
                <label>Category *</label>
                <select class="form-control" name="category" [(ngModel)]="tmpArticle.category" required>
                    <option>National</option>
                    <option>Economy</option>
                    <option>Sports</option>
                    <option>Technology</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label>Subtitle *</label>
                  <input class="form-control"
                         type="text"
                         required
                         [(ngModel)]="tmpArticle.subtitle"
                         name="subtitle"
                         #subtitle="ngModel"
                         [ngClass]="subtitle.valid || subtitle.pristine ? '': 'bg-danger text-white'">
                <div class="alert alert-danger" *ngIf="subtitle.touched && !subtitle.valid">
                    <div *ngIf="subtitle.errors.required">Sorry, a subtitle is required.</div>
                </div>
            </div>
            <div class="form-group mb-4">
                <label>Abstract *</label>
                  <input class="form-control mb-2"
                         type="text"
                         required
                         [(ngModel)]="tmpArticle.abstract"
                         name="abstract"
                         #abstract="ngModel"
                         [ngClass]="abstract.valid || abstract.pristine ? '': 'bg-danger text-white'">
                <div class="alert alert-danger" *ngIf="abstract.touched && !abstract.valid">
                    <div *ngIf="abstract.errors.required">Sorry, an abstract is required.</div>
                </div>
            </div>
            <div class="form-group mb-4">
                <label>Body</label>
                  <textarea class="form-control mb-2"
                         type="text"
                         [(ngModel)]="tmpArticle.body"
                         name="body"
                         #body="ngModel"
                         [ngClass]="body.valid || body.pristine ? '': 'bg-danger text-white'"></textarea>
            </div>
            <label>Upload a picture: *
              <input type="file" required (change)="fileChangeEvent($event)">
            </label>

            <button *ngIf="newPic" 
                    class="btn btn-primary mb-3" 
                    (click)="revertImage()">Revert picture</button>

            <div class="form-group">
              <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!articleForm.form.valid">
                    Submit article
              </button>
            </div>
        </form>
        <h2 class="mt-5 mb-3">Live preview</h2>
        <hr>
        <div>
    
          <h5>
              {{ tmpArticle.category }}
          </h5>
          <h1>
              {{ tmpArticle.title }}
          </h1>
          <h4 [innerHTML]="tmpArticle.subtitle"></h4>
          <img class="img-fluid my-3" [src]="'data:' + tmpArticle.image_media_type + ';base64,' + tmpArticle.image_data "/>
          <b><p [innerHTML]="tmpArticle.abstract"></p></b>
          <p [innerHTML]="tmpArticle.body"></p>    
        </div>
    </div>
</div>