<div class="container-fluid">
    <div *ngIf="!logged">
        <div class="my-4">
            <h4>Login</h4>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text border-dark">Username</span>
                </div>
                <input type="text" [(ngModel)]="un" name="un"/>
            </div>
        </div>
        <div class="my-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text border-dark">Password</span>
                </div>
                <input type="password" [(ngModel)]="pw" name="pw"/>
            </div>
        </div>
        <button class="btn btn-primary" (click)="signIn()">Sign in</button>
    </div>
    <div *ngIf="logged">
        Hello {{ user.username }}
        <button class="btn btn-primary ml-2" (click)="signOut()">Sign out</button>
    </div>
</div>